.top{
    position: relative;
    top:50px;
}
.large-text-1{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: -2rem;
    color: #3DB2FF;
}
.small-text-1{
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 0rem;
    color: #3DB2FF;
    margin-bottom: -1.5rem;
}
.blood{
    color: #ff5964;
}
.save{
    font-size: 75px !important;
    color: #3DB2FF;
}
.typed-element{
    color: #ff5964;
    font-family: 'Courier New', Courier, monospace;
}
.dash-img-modify{
    height: 350px;
    width: 350px;
}


@media screen and (max-width:790px){
    .dash-img-modify{
        height: 300px;
        width: 300px;
    }
    .large-text-1{
        font-size: 60px !important;
    }
    .small-text-1{
        font-size: 60px !important;
    }
    .save{
        font-size: 50px !important;
    }
}